.hero {
    height: 90vh;
    width: 100vw;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.side-menu {
    background: url("Images/skull-bat.jpeg") no-repeat;
    height: 70px;
    width: 160px;
    margin: 0 auto;
    background-size: 100%;
}
#nav-button {
  position: fixed;
  top: 0;
  font-size: 35px;
  margin: 0 auto;
  padding: 0;
  background-color: gray;
  width: 11%;
  
}

#nav {
  display: none;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin: 0 auto;
  background-color: gray;
}

 #nav li a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(167, 10, 10);
    display: block;
    transition: 0.3s;
 }
 #nav li a:hover{
     color: red;
     font-size: 25px;
     
 }
 #nav-button-close {
    background-color: transparent;
    position: absolute;
    top: 0;
    font-size: 35px;
    margin: 0 auto;
    padding: 0;
 }
 #tour-dates-header {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 30px 0 40px 0; 
 }
 .tour-dates {
    height: 600px;
    height: 28em;
    display: grid;
    grid-template-columns: 7% 20% 20% 10%;
    justify-content: center;
    padding-bottom: 40px;
    grid-template-rows: repeat(auto, 6em);
    max-width: 760px;
    margin: auto;
    border: gray solid 40px;
    background: gray;
    padding-top: 30px;
    padding-bottom: 30px;
    background: url("Images/tours-back.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
 
 .tour-dates1 p {
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding: 10%;
 }
 .venue {
   font-weight: bold;
 }
 .location {
   color: grey;
 }
 .tickets {
    font-family: 'IM Fell English SC', serif;
   color: white;
   
 }
 .image-gallery {
     padding: 0;
     background: black;
 }
 .container {
    max-width: 760px;
    height: 100%;
    margin: auto;
    border: gray solid 40px;
    background: gray;
    padding-top: 30px;
    padding-bottom: 30px;
 } 
 

 .main-img img,
 .imgs img{
     width: 100%;
 }
 #current {
    height: 30%;
    max-height: 400px;
    padding-bottom: 20px;
 }
 .imgs {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 25px;
     height: 100%;
     
 }
 .imgs img {
    box-shadow: 20px 20px 50px 10px black;
 }
 .imgs img:hover {
    filter: grayscale(100%);
 }
.history {
    padding-top: 30px;
    padding-bottom: 30px;
     /* max-width: 760px;  */
}
 .history h1 {
     text-transform: uppercase;
     font-family: 'Permanent Marker', cursive;
     display: flex;
     justify-content: center;
     font-size: 30px;
     padding: 30px 0 40px 0;
 }
 .history p {
    display: flex;
    justify-content: center;
    max-width: 760px;
    height: 100%;
    margin: auto;
 }

.members h1 {
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 30px 0 40px 0;
}
.members-info .info {
    display: flex;
    max-width: 760px;
    justify-content: center;
    margin: 0 auto;
}

.member-buttons {
    font-size: 300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
 footer {
    display: flex;
    justify-content: flex-end;
    bottom:0;
    background-color: rgb(68, 13, 13);
    height: 30px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
 }
 
 footer a {
     text-decoration: none;
     font-size: 80%;
     color: white;
     padding-right: 10px;
 }
 footer a:hover {
     color: maroon;
 } 

 @media (min-width: 0px) and (max-width: 767px) {
     .hero {
         height: 40vh;
     }
    #nav-button {
        font-size: 10px;
    }
    .tour-dates{
        font-size: 2%;
    }
    .container {
        height: 100vh;
    }
    .main-img {
        display: none;
    }
    .imgs {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    footer {
        display: none;
    }
 }
 